@font-face {
    font-family: 'SF Pro Text regular';
    src: url('assets/sf-pro/sf-pro-text_regular.woff2');
}
@font-face {
    font-family: 'SF Pro Text semibold';
    src: url('assets/sf-pro/sf-pro-text_semibold.woff2');
}
@font-face {
    font-family: 'SF Pro display regular';
    src: url('assets/sf-pro/sf-pro-display_regular.woff2');
}
@font-face {
    font-family: 'SF Pro display semibold';
    src: url('assets/sf-pro/sf-pro-display_semibold.woff2');
}
@font-face {
    font-family: 'SF Pro display bold';
    src: url('assets/sf-pro/sf-pro-display_bold.woff2');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100%;
    background: #fffff0;
    font-family: 'SF Pro Text regular', sans-serif;
    color: #00000f;
    scroll-behavior: smooth;
}

#nav{
    width: 100%;
    font-size: 12px;
    padding: 0 18%;
    z-index: 99;
    position: sticky;
    background-color:rgba(245, 245, 247, .8) ;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    top: 0;

}
#nav ul{
    cursor: default;
    margin: 0 -8px;
    width: auto;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

#nav ul li a{
    text-decoration: none;
    color: #00000f;
}
#nav svg{
    cursor: pointer;

}

#alert{
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
    font-size: 13.8px;

}
#alert p a{
    text-decoration: none;
    color: #0066CC;
    font-weight: 300;
}

.hero{
    height: 90vh;
    width: 100%;
    position: relative;
}
.image-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

}
.image-container img{
    position: absolute;
    left: 50%;
    top: -300%;
    transform: translate(-50%, -50%);
}
#hero-iphone-17-pro-img{
    height:900%;
    animation: scaledown 1s ease-out forwards;
    animation-delay: 0.6s;
}
@keyframes scaledown{

    100%{
        height: 100%;
        top:50%
    }
}

#hero-iphone-17-pro-text{
    color: #fffff0;
}
.hero-text h1{
    position: absolute;
    top: 8%;
    width: 100%;
    text-align: center;
    font-family: 'sf pro display regular';
    font-size: 60px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
}
.hero-text h2{
    position: absolute;
    top: 18%;
    width: 100%;
    text-align: center;
    font-family: 'sf pro display regular';
    font-size: 21px;
    font-weight: 400;
}
.cta-links{
    position: absolute;
    display: flex;
    top: 26%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.cta-links button{
    min-width: 28px;
    display: flex;
    justify-content: center;
    padding: 11px 21px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-family: 'sf pro text regular';
    color: #fffff0;
    background-color: #0077ED;
    cursor: pointer;    
}
.cta-links .hollow-button{
    background-color: transparent;
    border: 1px solid #0077ED;
    color: #0077ED;
    transition: all 0.2s ease;
}
.cta-links .hollow-button:hover{
    background-color: #0077ED;
    color: #fffff0;
}

#hero-iphone-air{
    height: 80vh;
    color: #00000f;
}


#hero-iphone-air img{
    height: 100%;
    top: 50%;

}

#hero-iphone-air .cta-links{
    top: 30%;
}

#hero-iphone-17{
    height: 80vh;
    background: #F5F5F7;
    color: #00000f;
}
#hero-iphone-17 img{
    height: 100%;
    top: 60%;

}

#grid-container{
    position: relative;
    width: 100%;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}
.grid-box{
    width: calc(50% - 6px);
    height: 65vh;
    margin: 0;

}

.promo{
    height: 100%;
    width: 100%;
    position: relative;

}
.grid-box .image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 50%;
    top: 50%;
    transform: translateX(-50%, -50%);

    z-index: -1;
}

.promo-logo{
    margin: 0 28%;
    margin-top: 4%;

}
.promo-logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}   

.promo-text{
    position: absolute;
    width: 100%;
    left: 0;
    justify-content: center;
    text-align: center;

}
.promo-text h2{
    font-family: 'sf pro text regular';
    font-size: 22px;
    font-weight: 100;
    line-height: 1.14286;
    letter-spacing: -.004em;
    margin: 4px 0;
}

.promo-text .cta-links{
    top: 110%;
}
.promo-text .cta-links button{
    font-size: 14px;
}

.promo-text h1{
    font-family: 'sf pro display regular';
    font-size: 40px;
    font-weight: 600;
    line-height: 1.125;
    letter-spacing: -.004em;
    margin-top: 6%;
}

#education .promo-text{
    margin-top: 46%;
    color: #fffff0;
}

#ipadair .promo-logo{
    margin: 0 40%;
    margin-top: 8%;
}
#trade-in .promo-logo{
    margin: 0 40%;
    margin-top: 8%;
}
#trade-in h2{
    margin: 0 30%;
}